name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.6'

      - name: Go mod tidy
        run: go mod tidy

      # - name: Run tests
      #   run: go test ./...

      - name: Build binary
        run: go build ./cmd/api

  cd:
    needs: ci
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push image
        run: |
          docker build -t longtb11/go-ci-cd-demo:latest .
          docker push longtb11/go-ci-cd-demo:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull longtb11/go-ci-cd-demo:latest
            docker stop go-app || true
            docker rm go-app || true
            docker run -d \
              --name go-app \
              -p 80:8080 \
              longtb11/go-ci-cd-demo:latest